* {
  font-family: 'Outfit', sans-serif !important;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-link {
  @apply text-gray-700 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium;
}

.nav-link.active {
  @apply text-teal-700;
}

.nav-container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.nav-search {
  @apply w-full rounded-md border border-gray-300 px-4 py-2 focus:border-teal-500 focus:ring-teal-500;
}

.nav-button {
  @apply bg-teal-700 text-white px-6 py-2 rounded-lg hover:bg-teal-800 transition-colors;
}
